/* default color scheme */

@define-color text_link #7f1926;
@define-color text_error #00ffff;
@define-color text_normal #606060;
@define-color base_normal #ffffff;

@define-color fg_filled_insensitive #a0a0a0;
@define-color bg_filled_insensitive #ffffff;
@define-color fg_filled_normal #606060;
@define-color bg_filled_normal #808080;
@define-color fg_filled_hover #f0f0f0;
@define-color bg_filled_hover #7f1926;
@define-color fg_filled_active #f0f0f0;
@define-color bg_filled_active #993745;

@import url("gtk-widgets.css");

GtkWindow {
  color: @text_normal;
  background-color: @ffffff;
  background-repeat: repeat;
  background-image: url("./backgrounds/noise-white.png");
}
